* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', Arial, Helvetica, sans-serif;

    /* VARS */
    --main-color: #ef233c;
    --black: #0e0d0d;
    --white: #edf2f4;
    --gray: #8d99ae;
    --background: black;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 1000vh;

    color: var(--white);
    background-color: var(--background);
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33.33%;
}

.w25 {
    width: 25%;
}

@media screen and (max-width: 1200px) {
    .w50 {
        width: 100%;
    }
    .w25 {
        width: 100%;
    }
    .w33 {
        width: 100%;
    }
}